@using SwiftBookingTest.Model.Client;
@using SwiftBookingTest.Web.Helpers;

@model ClientRecordViewModel
@{
    var client = Html.Angular().ModelFor("vm.client");
}

<ng-form name="vm.form" novalidate
      ng-submit="vm.form.$valid && vm.add()">
    <div class="row">
        <div class="col-lg-6">
            @client.FormGroupFor(x => x.Name)
            @client.FormGroupFor(x => x.Address)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-success">Add</button>
            <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>
    </div>
</ng-form>