@model SwiftBookingTest.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

@Html.Partial("CreateDeliveryPoint", Model.DeliveryPointToAdd ?? new SwiftBookingTest.Web.Models.DeliveryPoint())
<div>
    <h3>Saved people</h3>
    @Html.DisplayFor(x => x.DeliveryPoints, "DeliveryPoint") 
</div>
<div style="background-color:#eee;padding:20px;">
    <pre>@Html.DisplayFor(x => x.Message)</pre>
</div>