@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

<div ng-controller="DeliveryController">
    <div>
        <input type="text" placeholder="Name" value="" ng-model="p.Name" /><br />
        <input type="text" placeholder="Phone" value="" ng-model="p.Phone" /><br />
        <input type="text" placeholder="Address" value="" ng-model="p.Address" /><br />
        <button ng-click="addPeople()">Add person</button>
    </div>

    <div>
        <h3>Saved people</h3>
        <ul>
            <li ng-repeat="p in people"><button ng-click="book(p)">Book</button> {{ p.Address }} </li>
        </ul>

    </div>
    <div style="background-color:#eee;padding:20px;" ng-class="{'red':error}">
        {{ response }}
    </div>
</div>