@{
    ViewBag.Title = "GetSwift Code Test - Alastair Pitts";
}

<nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="/">GetSwift Code Test</a>
        <p class="navbar-text navbar-right">Alastair Pitts</p>
    </div>
</nav>

<div class="container" ng-controller="BookingController">
    <div class="row">
        <div class="alert alert-dismissible" role="alert" ng-show="result != null" ng-class="{'alert-danger': hasApiError, 'alert-success': !hasApiError}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Result</strong><br/>{{result}}
        </div>
    </div>
    <div class="row">
        <h1>Add Person</h1>
    </div>
    <div class="=row">
        <form>
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" placeholder="Name" ng-model="newClient.Name" />
            </div>
            <div class="form-group">
                <label for="txtAddress">Address</label>
                <input type="text" class="form-control" id="txtAddress" placeholder="Address" ng-model="newClient.Address" />
            </div>
            <div class="form-group">
                <label for="txtPhone">Phone</label>
                <input type="text" class="form-control" id="txtPhone" placeholder="Phone" ng-model="newClient.Phone" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="addPerson()">Add Person</button>
            </div>
        </form>
    </div>
    <div class="row">
        <h1>Saved People</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clientsList">
                <td>{{client.Name}}</td>
                <td>{{client.Address}}</td>
                <td>{{client.Phone}}</td>
                <td><button class="btn btn-sm btn-primary" ng-click="bookDelivery(client.Id)">Book Delivery</button></td>
            </tr>
        </tbody>
    </table>
</div>