@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

<div id="app">
    <div data-bind="with: newRecord">
        <input type="text" placeholder="Name" data-bind="textInput: name" /><br />
        <input type="text" placeholder="Phone" data-bind="textInput: phone" /><br />
        <input type="text" placeholder="Address" data-bind="textInput: address" /><br />
        <button data-bind="click: $parent.addPerson, enable: canAdd">Add person</button>
    </div>

    <div>
        <h3>Saved people</h3>
        <ul data-bind="foreach: records">
            <li>
                <button data-bind="enable: !isBooked() && !isBooking(), click: function() { book($parent) }">Book</button>
                <span data-bind="text: address"></span>
            </li>
        </ul>
        <ul data-bind="visible: !records().length && !isLoading()">
            <li>No records</li>
        </ul>
        <div data-bind="visible: isLoading">Loading...</div>
        <div data-bind="visible: isAdding">Adding...</div>
    </div>
    <div style="background-color:#eee;padding:20px;">
        <pre data-bind="text: bookedResponse"></pre>
    </div>
</div>